<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <style>
        table, th, td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <br>
    <hr>
    <form method="GET" action="/user/newUser">
        <button>Add New User</button>
    </form>
    <hr>

    <table >
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Username</th>
        </tr>
        <% for(user of users){ %>
            <tr>
                <td> <%= user.id %></td>
                <td> <%= user.email %></td>
                <td> <%= user.username %></td>
                <td>
                    <form method="GET" action="/user/<%=user.id%>/edit">
                        <button>Edit username</button>
                    </form>
                </td>
                <td>
                    <form method="GET" action="/user/<%=user.id%>/delete">
                        <button>DELETE</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>
