<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Chat</title>
</head>
<body>
    <h3>Edit your message...</h3>
    <h3>ID: <%=chat._id%></h3>
    <p>This message was sent from <b><%= chat.from %></b> to <b><%= chat.to %></b></p>
    <form method="POST" action="/chats/<%= chat._id %>?_method=PUT">
        <textarea name="msg" rows="7" cols="35"><%= chat.msg %></textarea>
        <br/>
        <button>Save Edit</button>
    </form>
</body>
</html>